<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lambda Twitter</title>
    </head>

    <body>
        <h1>Hello World!</h1>
        <p>Testing testing 1 2 3 ...</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic impedit cupiditate laudantium modi nisi nesciunt fugiat sint, commodi, deleniti adipisci unde voluptates cum! Laborum esse nam enim velit, harum voluptatum.</p>
    </body>

</html>